In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
import scrapping_with_selenium as sc

In [3]:
df = sc.scraper("Data", 2, ["Data engineer","Data Analyst"])

,job title,company,location,experience,salaries,skills,job type,open postions
0,Fleet Data Analyst,Seoudi Supermarket -,"Giza, Egypt",· 3 - 4 Yrs of Exp,Confidential,"[Analyst, analytical, Data, Data Analyst, Fina...",Full Time,4 open positions
1,Senior Data Engineer,Confidential -,"Smart Village, Giza, Egypt",· 5+ Yrs of Exp,Confidential,"[Computer Science, Data Engineer, Data, engine...",Full Time,1 open position
2,Data Analyst,ITCan -,"New Cairo, Cairo, Egypt",· 3 - 5 Yrs of Exp,Confidential,"[BI, Analysis, analytical, Computer Science, D...",Full Time,1 open position
3,Hr Planning Specialist (Data Analyst),Andalusia Group -,"Maadi, Cairo, Egypt",· 1+ Yrs of Exp,Confidential,"[English, excel, Human Resources (HR), Plannin...",Full Time,1 open position
4,Data Analyst,JoviTronix -,"Sheikh Zayed, Giza, Egypt",· 3 - 5 Yrs of Exp,6000 To 7000 EGP Per Month,"[Analysis, analytical, business, Commerce, Com...",Full Time,1 open position
5,(Senior) Data Engineer (m/f/d),WorkMotion -,"Cairo, Egypt",· 2 - 3 Yrs of Exp,35000 To 40000 EGP Per Month,"[Python, SQL, Data Engineering, Agile Software...",Full Time,1 open position
6,Data Analyst,Cleopatra Cement -,"Minya, Egypt",· 1 - 3 Yrs of Exp,Male,"[Computer Science, Data Analysis, Analysis, Da...",Full Time,1 open position